<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <body>
    <div>
      <label for="rooms">Rum:</label>
      <select id="rooms">
        <option hidden disabled selected value>Välj ett rum</option>
        {% for room in rooms %}
        <option value="{{ room }}">{{ room }}</option>
        {% endfor %}
      </select>
      <button type="button" onclick="roomSelected()">Spela!</button>
    </div>
  </body>
</html>
