<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <link rel=stylesheet href=index.css>
    <script src=index.js></script>
  </head>
  <body>
    <div>
      Slag: <span id=throw-counter>0</span>
    </div>
    <div class=dice-container>
      <img value=0 ondragstart="return false" onclick=keep(this) class=dice width=128 src=images/1.png>
      <img value=1 ondragstart="return false" onclick=keep(this) class=dice width=128 src=images/1.png>
      <img value=2 ondragstart="return false" onclick=keep(this) class=dice width=128 src=images/1.png>
      <img value=3 ondragstart="return false" onclick=keep(this) class=dice width=128 src=images/1.png>
      <img value=4 ondragstart="return false" onclick=keep(this) class=dice width=128 src=images/1.png>
    </div>
    <div>
      <button onclick=rollAll()>Slå tärningar</button>
      <button onclick=nextPlayer()>Nästa spelare</button>
    </div>
  </body>
</html>
